<!DOCTYPE html>

<html>
<head>
    <title>404</title>
    <link rel="icon" href="/imgs/404.png">
    <link rel="stylesheet" href="/css/styles.css"
</head>

<body>
     <div class="mainDiv">
        {{>header}}
    </div>

    {{>footer}}
</body>
</html>